* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.colors-pallete {
  display: flex;
  flex-direction: row;
}

.color {
  margin: 0 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: 1px solid black;
}

.selected {
  border: 5px solid white;
  outline: 5px solid black;
}

#pixel-board {
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
  background-color: white;
}

.setting-size-area {
  margin-top: 30px;
}

button {
  padding: 15px 25px;
  border: none;
  background-color: red;
  color: white;
  font-weight: 700;
  font-size: 22px;
  border-radius: 16px;
  cursor: pointer;
}
